*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body{
  background-image: url(./img/cloud.jpg);
  background-size: cover; 
}

.main-container{
  position: absolute;
  bottom: 40%;
  right: 30%;
  padding: 20px;
  border: 5px solid yellow;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.408) ;
}

h1{
  color: #011638;
  font-size: 50px;
  margin-inline-start: 50px;
  margin-inline-end: 50px;
}

.city{
 position: relative;
 left: 30%;
}

#city{
  padding: 0.5rem;
}

.add-btn{
  position: relative;
  left: 40%;
  margin-block-start: 10px;
}
button{
  background-color:#EEC643;
  width: 60px;
  border: none;
  font-weight: bold;
  border-radius: 3px;
  padding: 3px;
}

/* mobile Responsiveness */
@media (max-width: 600px) {

  body{
    background-image: url(./img/cloud.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh;
  }
  .main-container {
    width: 50%;
    position: absolute;
    bottom: 30%;
    right: 12%;
    padding: 20px;
    border: 5px solid yellow;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.408);  
  
  }

  h1{
    color: #011638;
    font-size: 30px;
    margin-inline-start: 30px;
    margin-inline-end: 30px;
  }
  
  #city{
    width: 60%;
    padding: 8px;
    font-size: 6px;
  }
  #search{
    padding: 1px;
  }

}

@media (max-width: 320px) {

  body{
    background-image: url(./img/cloud.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh;
  }
  .main-container {
    width: 80%;
    position: absolute;
    bottom: 50%;
    right: 15%;
    padding: 20px;
    border: 3px solid yellow;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.408);  
  }

  h1{
    width: 80%;
    color: #011638;
    font-size: 30px;
    margin-inline-start: 30px;
    margin-inline-end: 30px;
  }
  
  .city{
    width: 90%;
    padding: 6px;
    font-size: 2px;
    
  }
  #search{
    left: 40%;
    padding: 1px;
    border-radius: 1px;
  }
}

